* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.main-title {
    color: #000;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 135%;
    margin-top: 88px;
}

.article-content {
    color: #161616;
    font-size: 21px;
    font-weight: 500;
    line-height: 150%;
}

.text-emphasis {
    color: #04959E;
    font-size: 21px;
    font-weight: 600;
    line-height: 150%;
}

.headers-navigation-list {
    display: block;
    width: fit-content;
    padding: 32px 0;
    margin: 0 auto;
}

.headers-navigation-item {
    display: inline-block;
    margin: 0 36px;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
}

.headers-navigation-link {
    text-decoration: none;
    color: #000;
}

.article-content-list-item {
    color: #161616;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%; 
}

.featured-img {
    width: 100%;
}

h2 {
    color: #000;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 135%; 
}

.content-wrapper {
    width: 850px;
    padding: 40px 0px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
}

.primary-btn {
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: #04959E;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
    margin-bottom: 88px;
}

.copyright-box {
    border-top: 1px solid #161616;
    display: flex;
    width: 100%;
    padding: 16px 0px;
    justify-content: center;
    align-items: flex-start;
}

.copyright-text {
    color: #161616;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%; 
}